body {
background-color: #f5f5f5;
font-size: 2rem;
font-weight: bold;
text-shadow: 0 2px 5px rgba(0,0,0,0.6);
font-family: Arial, sans-serif;

}

.text {

text-align: center;
color: #ff7b00;
}
.container {
width: 90%;
max-width: 1200px;
margin: 40px auto;
}


.h2 {
margin-bottom: 20px;
}


.produtos {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}


.card {
background: #fff;
padding: 20px;
box-shadow:  6px 12px rgba(0,0,0,0.1);
border-radius: 8px;
text-align: center;
}


.card img {
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 6px;
}


.card h3 {
margin: 15px 0 5px;
}


.card p {
font-size: 0.95rem;
margin-bottom: 10px;
}


footer {
margin-top: 40px;
background: #ff7b00;
color: #fff;
text-align: center;
padding: 15px;
}

.header {
  background-color: #ff7b00;
  padding: 15px 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  

}

.header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
}

  .categoria-card {
  
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  opacity: 0.8;
  
}

header .logoo {
  font-size: 24px;        
  font-weight: bold;      
  text-transform: uppercase; 
  text-decoration: none;  
   letter-spacing: 2px;
   opacity: 0.8;
   color: white;
}

.card img.product-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

